{% extends 'base.html' %}
{% block title %}Top Following{% endblock %}
{% block content %}
<h1 class="mb-3">Top Following</h1>
<div class="list-group">
    {% for user in users %}
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ user.username }}</h5>
            <small>Total Following: {{ user.following_count }}</small>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
